// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


.site-header{
    background: rgb(58,79,180);
    background: -moz-linear-gradient(90deg, rgba(58,79,180,1) 36%, rgba(29,253,96,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(58,79,180,1) 36%, rgba(29,253,96,1) 100%);
    background: linear-gradient(90deg, rgba(58,79,180,1) 36%, rgba(29,253,96,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3a4fb4",endColorstr="#1dfd60",GradientType=1);
    display:flex;
    min-height: 300px;
    text-shadow: 2px 2px 4px #000000;    
}

.site-title {
    text-align: center;
    width: 100%;
    color: #ffffff!important;
    display: flex;
    flex-wrap: wrap;
    align-content: center!important;
    font-family: 'Luckiest Guy';
    font-size:3rem;
    padding: 0 0 2rem 0;
    text-transform: uppercase;
}

.site-logo svg{width: 200px; margin: auto; padding:2rem;}

.site-logo{display:flex;}
.site-header .wrapper{/*display:flex;*/}

.social-home .svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: currentColor;
    padding: 5px 3px 2px 5px;
    color: #ffffff;
    vertical-align: text-bottom;
}

.social-home li a {
    display: block;
    padding: 7.5px;
    color: #ffffff;
    background: rgb(58,79,180);
    background: -moz-linear-gradient(90deg, rgba(58,79,180,1) 36%, rgba(29,253,96,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(58,79,180,1) 36%, rgba(29,253,96,1) 100%);
    background: linear-gradient(90deg, rgba(58,79,180,1) 36%, rgba(29,253,96,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3a4fb4",endColorstr="#1dfd60",GradientType=1);
}

